 
   <header class="site-header">
    <a href="index.html" >  <h1>Re Leaf</h1></a>

  <nav class="top-nav">
        <div class="menu" id="menu">    
          <ul class="menubar" id="menubar">
          <li><a href="philosophy">Our Philosophy</a></li>
          <li><a href="about">About</a></li>
          <li><a href="recipe">Recipes</a></li>
            </ul>
              </div>  
          </nav>
    </header>

