 <div id="wrapper">
        <header class="site-header">
            <a href="index.html" >  <h1>Re Leaf</h1></a>

  <nav class="top-nav">
        <div class="menu" id="menu">    
          <ul class="menubar" id="menubar">
          <li><a href="#">Our Philosophy</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Recipes</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Community</a></li>
            </ul>
              </div>  
          </nav>
        </header>
   <div class="boxes"><div class="box one">
<img src="images/Be-Positive-unsplash.jpg" alt="Positive">
</div>
  <div class="box two">
  <h1>Philosophy</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta officiis, dolore, optio labore perspiciatis facilis! Officiis hic voluptate eius at unde, illo, cupiditate sit labore, veniam autem id minima perferendis!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta officiis, dolore, optio labore perspiciatis facilis! Officiis hic voluptate eius at unde, illo, cupiditate sit labore, veniam autem id minima perferendis!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta officiis, dolore, optio labore perspiciatis facilis! Officiis hic voluptate eius at unde, illo, cupiditate sit labore, veniam autem id minima perferendis!</p>
    <button class="hero-button">Learn More</button>
</div>
          </div>
   
<div class="MS-container">
    <div class="MS-heading">
    <h1>Mission Statement</h1>
    </div>
    <div class="MSboxes">
    <div class="box star"><img src="images/star.svg" alt="placeholder"></div>
    <div class="box star">  <img src="images/star.svg" alt="placeholder"></div>
    <div class="box star"><img src="images/star.svg" alt="placeholder"></div>
     
   </div>
      </div>
          </div>
